:root{
    --back-ground: #171c28;
    --back-ground-hover: rgb(39, 31, 68);
    --fore-ground: white;
    --fore-ground-less: rgb(139, 139, 139);
}

body{
    background-color: var(--back-ground);
    color: var(--fore-ground);
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logo{
    font-weight: bolder;
    font-style: italic;
    font-size: 3rem;
    color: white;
}

.logo:hover{
    color: white;
}

.nav-link{
    color: var(--fore-ground);
    font-size: larger;
}

.nav-link:hover, .nav-item:hover{
    background-color: var(--back-ground-hover);
    border-radius: 10px;
}

.Welcome-img{
    flex-grow: 1;
    width: 50%;
}

.Welcome-img img{
    animation: fadeInAnim ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.Welcome-text{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Welcome-text p{
    font-size: larger;
    color: var(--fore-ground-less);
    margin: 5%;
}

.Welcome-text h1{
    font-weight: bold;
}

@keyframes fadeInAnim {
    0%{
        opacity: 0;
        border-radius: 0%;
    }

    100%{
        opacity: 100%;
        border-radius: 50%;
    }
}